<header style="box-shadow: 0 2px 1px #ccc">
  <nav class="navbar sticky-top navbar-light bg-white p-3" aria-label="Peachtree Bank navbar">
    <div class="container-fluid">
      <app-logo></app-logo>
      <span class="navbar-text d-flex">
        <span class="mr-1">Frontend</span><span class="font-weight-bold">Technical Assignment</span>
      </span>
    </div>
  </nav>
</header>
