:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bg-image {
  position: relative;
  top: 0;
  bottom: 0;
  background-image: url('~src/assets/images/background.jpg');
  background-position: center top;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 100vh;
}

main {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
}

app-transaction-item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  height: 70px;

  & > div:nth-child(1) {
    width: 5px;
    height: 100%;
  }

  & > div:nth-child(2) {
    padding: 0 2rem 0 0.5rem;
  }

  ::ng-deep .merchant-details {
    margin-right: auto;
    text-align: left;

    & > div:nth-child(2) {
      color: gray;
      font-size: 0.9rem;
    }
  }
}
