<app-topbar></app-topbar>

<div class="bg-image"></div>

<main class="flex-shrink-0">
  <div class="container d-flex">

    <!-- Form form -->
    <div class="card mr-4" style="width: 350px; height: 400px; border-radius: 1rem;">
      <h5 class="card-header text-white">
        <i class="lni lni-credit-cards"></i><span class="font-weight-bold">Make</span> Transfer
      </h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <!-- Transfers list -->
    <div class="card me-4" style="width: 730px; height: 750px;">
      <h5 class="card-header text-white">
        <i class="lni lni-list"></i>Transactions <span class="font-weight-bold">List</span></h5>
      <div class="card-body overflow-auto">
        <app-filter></app-filter>

        <app-transaction-item>
          <div data-test-hook="transactionColour" style="background-color: darkorange;"></div>
          <div data-test-hook="transactionDate">Oct. 14</div>
          <div data-test-hook="transactionMerchantName">H&M Online Store</div>
          <div data-test-hook="transactionType">Online Transfer</div>
          <div data-test-hook="transactionAmount" [style.color]="false ? 'green' : 'red'"><i class="bi bi-currency-euro"></i>-19.72</div>
        </app-transaction-item>

        <hr>

        <app-transaction-item>
          <div data-test-hook="transactionColour" style="background-color: green;"></div>
          <div data-test-hook="transactionDate">Sep. 19</div>
          <div data-test-hook="transactionMerchantName">Backbase</div>
          <div data-test-hook="transactionType">Salaries</div>
          <div data-test-hook="transactionAmount" [style.color]="true ? 'green' : 'red'"><i class="bi bi-currency-euro"></i>5000</div>
        </app-transaction-item>

        <hr>

        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>
</main>

<div class="py-2 bg-white" style="position: fixed; bottom: 0;">
  <app-footer></app-footer>
</div>
